.active-option {
  background-color: #eee;
  color: #0f7ae5;
}

.active-selection {
  color: #484848 !important;
}

.btn {
  cursor: pointer;
  padding: 0 30px;
  vertical-align: middle;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.1s ease-in-out;
  transition-property: color, background-color, border-color;
}

.button-container {
  padding-top: 20px;
  width: 100%;
  margin: 0 auto;
  max-width: 300px;
}

.clear {
  background-color: transparent;
  color: #222;
  border: 1px solid #e5e5e5;
  float: right;
}

.clear:hover {
  background-color: transparent;
  color: #222;
  border-color: #b2b2b2;
}

.clear:focus {
  outline: none;
}

.display-option {
  color: #bbb;
  font-size: 16px;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  box-sizing: border-box;
  flex: 1 1 0%;
  padding: 2px 8px;
  overflow: hidden;
}

.dropdown-container {
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 100%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 4px;
  box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1), 0 4px 11px hsla(0, 0%, 0%, 0.1);
  margin: 8px 0;
  box-sizing: border-box;
}

//
//.focused {
//  outline: -webkit-focus-ring-color auto 1px;
//  box-shadow: 0 0 0 1px #2684ff;
//}

.form-container {
  padding: 0 20px;
  text-align: center;
  font-family: sans-serif;
}

.icon-container {
  display: flex;
  box-sizing: border-box;
  padding: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
}

//.input-container {
//  cursor: pointer;
//  background-color: white;
//  display: flex;
//  min-height: 38px;
//  box-sizing: border-box;
//  border-radius: 4px;
//  border: 1px solid #bdbdbd;
//  transition: all 100ms ease 0s;
//}

.label {
  font-size: 16px;
  padding-top: 10px;
  margin-right: 5px;
  text-align: right;
  display: inline-block;
  white-space: nowrap;
  min-width: 100px;
}

.option {
  cursor: pointer;
  display: block;
  font-size: 16px;
  padding: 7px 16px;
  width: 100%;
  user-select: none;
  box-sizing: border-box;
  text-align: left;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.29px;
  color: #4e4e4e;
}

.option:hover label,
.option-active label {
  color: #7b85bb;
}

.option:hover,
.option-active {
  background-color: #f2f2f9;
}

.options {
  padding-bottom: 20px;
}

.options {
  max-height: 250px;
  overflow: auto;
  top: 100%;
  position: absolute;
  width: inherit;
  z-index: 1;
  box-sizing: border-box;
  border-radius: 23px;
  border: solid 1px #dcdcdc;
  background-color: #fff;
}

.no-options {
  font-family: sans-serif;
  font-size: 18px;
  padding: 7px;
}

.trend__phases__tool {
  & .select {
    width: 250px;
  }
}

.select {
  display: flex;
  align-items: center;
  height: 46px;
  border-radius: 23px;
  border: solid 1px #dcdcdc;
  background-color: #fff;
  position: relative;
  padding-left: 16px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.69;
  letter-spacing: 0.29px;
  color: #959595;

  &__text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 45px;
  }
}

.not-empty .select {
  color: inherit;
}

.search-option {
  height: 100%;
  font-size: 16px;
  vertical-align: middle;
  width: 100%;
  color: #666;
  border: 1px solid transparent;
  border-radius: 4px;

  &::placeholder {
    display: flex;
    align-content: center;
    justify-content: center;
    line-height: revert !important;
  }

  /* -webkit-transition: 0.2s ease-in-out; */

  /* transition: 0.2s ease-in-out; */

  /* -webkit-transition-property: color, background-color, border; */

  /* transition-property: color, background-color, border; */

  /* display: flex; */

  /* flex-wrap: wrap; */

  /* box-sizing: border-box; */

  /* flex: 1 1; */
  overflow: hidden;
  padding-left: 16px;
}

.search-option:focus {
  outline: 0;
}

.search-option::placeholder {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #9d9d9d;
}

.select-container {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 1;
  margin-bottom: 10px;

  &.multiple {
    .select-search {
      margin: 10px 16px;
    }
  }
}

.submit {
  float: left;
  background-color: #1e87f0;
  color: #fff;
  border: 1px solid transparent;
}

.submit:hover {
  background-color: #0f7ae5;
  color: #fff;
}

.submit:focus {
  background-color: #1e87f0;
  color: #fff;
  outline: none;
}

.select-box {
  position: relative;
  box-sizing: border-box;
  width: 100%;
}

.svg-icon {
  transform: rotate(90deg);
  transition: 0.2s ease-in-out;
  transition-property: transform;
}

.svg-icon-90 {
  transform: rotate(0deg);
}

.svg-icon-270 {
  transform: rotate(180deg);
}

.select-search {
  margin: 10px 0;
  display: flex;
}

.icon-search {
  display: flex;
  align-items: center;
}

// for square
.select-container {
  &.square {
    .options {
      border-radius: 10px;
    }

    .select {
      border-radius: 10px;
    }
  }
}

.drop-container {
  width: inherit;
}

.select-open {
  .square {
    .select {
      border-bottom-right-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      border-bottom: 0 !important;
    }

    .options {
      border-top-right-radius: 0 !important;
      border-top-left-radius: 0 !important;
      border-top: 0 !important;
    }
  }
}

//**
.select-open {
  .select {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 0;
  }

  .options {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top: 0;
  }
}

.not-multiple {
  .checkbox_default {
    padding-left: 4px;
  }
}

.rw-multiselect-btn-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  //width: 700px;
}

.multiselect-btn {
  height: 36px;
  display: flex;
  align-items: center;
  padding: 10px 15px 10px 15px;
  margin-right: 5px !important;
  box-sizing: border-box;
  border-radius: 4px;
  color: #4e4e4e;
  background: #fff;
  box-shadow: 0 0 7px rgba(149, 149, 149, 0.16);
  border: none;
  position: relative;
  width: auto;
}

/*
  * Calendar Range Picker React
 */
.daterangepicker {
  position: absolute;
  color: inherit;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ddd;
  width: 278px;
  max-width: none;
  padding: 0;
  margin-top: 7px;
  top: 100px;
  left: 20px;
  z-index: 3001;
  display: none;
  font-family: arial;
  font-size: 15px;
  line-height: 1em;
}

.daterangepicker::before,
.daterangepicker::after {
  position: absolute;
  display: inline-block;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.daterangepicker::before {
  top: -7px;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #ccc;
}

.daterangepicker::after {
  top: -6px;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
}

.daterangepicker.opensleft::before {
  right: 9px;
}

.daterangepicker.opensleft::after {
  right: 10px;
}

.daterangepicker.openscenter::before {
  left: 0;
  right: 0;
  width: 0;
  margin-left: auto;
  margin-right: auto;
}

.daterangepicker.openscenter::after {
  left: 0;
  right: 0;
  width: 0;
  margin-left: auto;
  margin-right: auto;
}

.daterangepicker.opensright::before {
  left: 9px;
}

.daterangepicker.opensright::after {
  left: 10px;
}

.daterangepicker.drop-up {
  margin-top: -7px;
}

.daterangepicker.drop-up::before {
  top: initial;
  bottom: -7px;
  border-bottom: initial;
  border-top: 7px solid #ccc;
}

.daterangepicker.drop-up::after {
  top: initial;
  bottom: -6px;
  border-bottom: initial;
  border-top: 6px solid #fff;
}

.daterangepicker.single .daterangepicker .ranges,
.daterangepicker.single .drp-calendar {
  float: none;
}

.daterangepicker.single .drp-selected {
  display: none;
}

.daterangepicker.show-calendar .drp-calendar {
  display: block;
}

.daterangepicker.show-calendar .drp-buttons {
  display: block;
}

.daterangepicker.auto-apply .drp-buttons {
  display: none;
}

.daterangepicker .drp-calendar {
  display: none;
  max-width: 270px;
}

.daterangepicker .drp-calendar.left {
  padding: 8px 0 8px 8px;
}

.daterangepicker .drp-calendar.right {
  padding: 8px;
}

.daterangepicker .drp-calendar.single .calendar-table {
  border: none;
}

.daterangepicker .calendar-table .next span,
.daterangepicker .calendar-table .prev span {
  color: #fff;
  border: solid black;
  border-width: 0 2px 2px 0;
  border-radius: 0;
  display: inline-block;
  padding: 3px;
}

.daterangepicker .calendar-table .next span {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.daterangepicker .calendar-table .prev span {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.daterangepicker .calendar-table th,
.daterangepicker .calendar-table td {
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  min-width: 32px;
  width: 32px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  white-space: nowrap;
  cursor: pointer;
}

.daterangepicker .calendar-table {
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: #fff;
}

.daterangepicker .calendar-table table {
  width: 100%;
  margin: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

.daterangepicker td.available:hover,
.daterangepicker th.available:hover {
  background-color: #eee;
  border-color: transparent;
  color: inherit;
}

.daterangepicker td.week,
.daterangepicker th.week {
  font-size: 80%;
  color: #ccc;
}

.daterangepicker td.off,
.daterangepicker td.off.in-range,
.daterangepicker td.off.start-date,
.daterangepicker td.off.end-date {
  background-color: #fff;
  border-color: transparent;
  color: #999;
}

.daterangepicker td.in-range {
  background-color: #ebf4f8;
  border-color: transparent;
  color: #000;
  border-radius: 0;
}

.daterangepicker td.start-date {
  border-radius: 4px 0 0 4px;
}

.daterangepicker td.end-date {
  border-radius: 0 4px 4px 0;
}

.daterangepicker td.start-date.end-date {
  border-radius: 4px;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #357ebd;
  border-color: transparent;
  color: #fff;
}

.daterangepicker th.month {
  width: auto;
}

.daterangepicker td.disabled,
.daterangepicker option.disabled {
  color: #999;
  cursor: not-allowed;
  text-decoration: line-through;
}

.daterangepicker select.monthselect,
.daterangepicker select.yearselect {
  font-size: 12px;
  padding: 1px;
  height: auto;
  margin: 0;
  cursor: default;
}

.daterangepicker select.monthselect {
  margin-right: 2%;
  width: 56%;
}

.daterangepicker select.yearselect {
  width: 40%;
}

.daterangepicker select.hourselect,
.daterangepicker select.minuteselect,
.daterangepicker select.secondselect,
.daterangepicker select.ampmselect {
  width: 50px;
  margin: 0 auto;
  background: #eee;
  border: 1px solid #eee;
  padding: 2px;
  outline: 0;
  font-size: 12px;
}

.daterangepicker .calendar-time {
  text-align: center;
  margin: 4px auto 0 auto;
  line-height: 30px;
  position: relative;
}

.daterangepicker .calendar-time select.disabled {
  color: #ccc;
  cursor: not-allowed;
}

.daterangepicker .drp-buttons {
  clear: both;
  text-align: right;
  padding: 8px;
  border-top: 1px solid #ddd;
  display: none;
  line-height: 12px;
  vertical-align: middle;
}

.daterangepicker .drp-selected {
  display: inline-block;
  font-size: 12px;
  padding-right: 8px;
}

.daterangepicker .drp-buttons .btn {
  margin-left: 8px;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 8px;
}

.daterangepicker.show-ranges.single.rtl .drp-calendar.left {
  border-right: 1px solid #ddd;
}

.daterangepicker.show-ranges.single.ltr .drp-calendar.left {
  border-left: 1px solid #ddd;
}

.daterangepicker.show-ranges.rtl .drp-calendar.right {
  border-right: 1px solid #ddd;
}

.daterangepicker.show-ranges.ltr .drp-calendar.left {
  border-left: 1px solid #ddd;
}

.daterangepicker .ranges {
  float: none;
  text-align: left;
  margin: 0;
}

.daterangepicker.show-calendar .ranges {
  margin-top: 8px;
}

.daterangepicker .ranges ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.daterangepicker .ranges li {
  font-size: 12px;
  padding: 8px 12px;
  cursor: pointer;
}

.daterangepicker .ranges li:hover {
  background-color: #eee;
}

.daterangepicker .ranges li.active {
  background-color: #08c;
  color: #fff;
}

/*  Larger Screen Styling */
@media (min-width: 564px) {
  .daterangepicker {
    width: auto;
  }

  .daterangepicker .ranges ul {
    width: 140px;
  }

  .daterangepicker.single .ranges ul {
    width: 100%;
  }

  .daterangepicker.single .drp-calendar.left {
    clear: none;
  }

  .daterangepicker.single .ranges,
  .daterangepicker.single .drp-calendar {
    float: left;
  }

  .daterangepicker {
    direction: ltr;
    text-align: left;
  }

  .daterangepicker .drp-calendar.left {
    clear: left;
    margin-right: 0;
  }

  .daterangepicker .drp-calendar.left .calendar-table {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .daterangepicker .drp-calendar.right {
    margin-left: 0;
  }

  .daterangepicker .drp-calendar.right .calendar-table {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .daterangepicker .drp-calendar.left .calendar-table {
    padding-right: 8px;
  }

  .daterangepicker .ranges,
  .daterangepicker .drp-calendar {
    float: left;
  }
}

@media (min-width: 730px) {
  .daterangepicker .ranges {
    width: auto;
  }

  .daterangepicker .ranges {
    float: left;
  }

  .daterangepicker.rtl .ranges {
    float: right;
  }

  .daterangepicker .drp-calendar.left {
    clear: none !important;
  }
}

.select-date-picker {
  width: 100%;
  height: 46px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  border-radius: 23px;
  border: 1px solid #dcdcdc;
  background: #fff;
  margin-bottom: 5px;
}

.monthly_trends {

  &__header {

  }
  &__tools {

    .links {

      .wrap-picker {
        position: relative;
        & .choose__date__btn {
          width: 16px;
          height: 16px;
          //background: url("./assets/images/TrendIcon/icon-calendar.svg") no-repeat;
          position: absolute;
          z-index: 100000;
          left: 115px;
          top: 13px;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .between {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 10px;
      font-size: 26px;
      margin: 0 10px;
    }

    .hPEdlB {
      font-family: inherit !important;
      width: auto !important;

      input {
        color: transparent !important;
        text-shadow: 0 0 0 black;
      }
    }

    .date__block {
      color: inherit !important;
      width: 150px !important;
      height: 46px !important;
      padding: 0 12px !important;
      display: flex !important;
      align-items: center !important;
      border-radius: 23px !important;
      border: 1px solid #dcdcdc !important;
      background: #fff !important;
      margin: 0 !important;

      .filter-date-period {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .current__period {
          font-size: 18px;
        }
      }
    }
  }
}

.cXcRCo {
  z-index: 999;
}
